<div id="faqs-section">
  <h3>Frequently Asked Questions</h3>
  <div class="faqs-list">
    <h3>I cannot hear the webcast</h3>
    <p>If you do not have any sound, please make sure that the master volume for your device is switched on.</p>
    <p>Please check that any external devices such as speakers or headphones are connected correctly and that the volume is turned up.</p> 
    <p>If the above points prove unsuccessful, please contact us at <a href="mailto:jpm.emea.conferences@jpmorgan.com?subject=CEEMEA Opportunities Conference">JPM EMEA Conferences</a></p> 
  </div>
  <div class="faqs-list">
    <h3>The video feed is not working on the webcast</h3>
    <p>Please refresh your browser or try using a different browser – Chrome, Firefox or Safari. Internet Explorer is not supported.</p>
    <p>If the above proves unsuccessful, please contact us at <a href="mailto:jpm.emea.conferences@jpmorgan.com?subject=CEEMEA Opportunities Conference">JPM EMEA Conferences</a></p>
  </div>
  <div class="faqs-list">
    <h3>How can I ask a question?</h3>
    <p>During the agenda session there will be an ‘Ask a Question’ text box at the top right of the video player window. Please type your question into this box and press ‘Submit’.</p>
  </div>
  <div class="faqs-list">
    <h3>Where can I see the latest version of the agenda?</h3>
    <p>Please click on the ‘Agenda’ tab at the top of the event site to see the latest version of the agenda.</p>
  </div>
  <div class="faqs-list">
    <h3>Where can I find more information about the speakers?</h3>
    <p>Please click on the ‘Speakers’ tab at the top of the event site to view the speakers’ biographies. While you are viewing the event sessions, you can also click on a speaker’s name in the Overview tab to the right of the screen to see their biography.</p>
  </div>
  <div class="faqs-list">
    <h3>Will there be a replay available for the agenda sessions? If so, how do I view these?</h3>
    <p>Yes, a replay will be available until 17 February, 2022. You will be sent an email from <a href="mailto:jpm.emea.conferences@jpmorgan.com?subject=CEEMEA Opportunities Conference">JPM EMEA Conferences</a> as soon as the replay is available. The login details for the replay will be the same as those used to access the event platform.</p>
    <p>To access the webcast replay, please click on the following link: <a href="https://jpm-ceemea-opportunities-conference.videoshowcase.net/login">https://jpm-ceemea-opportunities-conference.videoshowcase.net/login</a></p>
    <p>Once you have the above information and have clicked the link, enter your credentials where indicated and click ‘log in’. You will then be able to access all available replays from the home screen.</p>
  </div>
  <div class="faqs-list">
    <h3>I would like a copy of the presentation</h3>
    <p>If there are any presentation materials, these will be shown in the Downloads section on the player tab section next to the video player. Presentations will also be available on the replay site, where we have permission to do so.</p>
  </div>
</div>  